<div class="col-md-12">
  <p><%= @tweet.description %></p>
  <p>カテゴリ: <%= @tweet.category %></p>
  <p>投稿日:<%= @tweet.created_at %></p>
  <hr>
  <p>
    <%= simple_format(@tweet.description) %>
  </p>
  <p><%= image_tag @tweet.image %></p>
  <p>ニックネーム：<%= @tweet.user.nick_name %></p>
  <hr>
  <%= link_to "編集", edit_tweet_path(@tweet), class: "btn btn-default" %>
  <%= link_to "削除", tweet_path(@tweet), class: "btn btn-default", method: :delete %>
</div>
